# Exclude files and folders from the prefer-dist installs.
.*                              export-ignore
phpcs.xml                       export-ignore

.github                         export-ignore
.dev                            export-ignore
tests                           export-ignore
docs                            export-ignore

# Drupal specific files should be identified & highlighted as PHP files on Github.
*.module linguist-language=PHP
*.install linguist-language=PHP
*.profile linguist-language=PHP
*.theme linguist-language=PHP
