{#
/**
 * @file api-method-navigation-block.html.twig
 * Default theme implementation to provide navigation for API Methods.
 *
 * Available variables:
 * - tags: Contains any associative array, where the key is the tag and values
 *   are the API methods associated to this tag.
 *
 */
#}

{% for tag, methods in tags %}
  <ul class="nav api-tag-group">
    <div class="api-tag-name">
      {{ tag }}
    </div>
    {% for method in methods %}
      <li>
        {{ method }}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
