{% if types is not empty %}
<dl>
  {% for type in types %}
    <dt>{{ type.add_link }}</dt>
    <dd>{{ type.description }}</dd>
  {% endfor %}
</dl>
{% else %}
  <p>
    {% trans %}
      No reference types are configured.
    {% endtrans %}
  </p>
{% endif %}
